gcmAPI/Web References/Estes_RateWebServ/RateQuoteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:gsc="http://ws.estesexpress.com/schema/2017/07/ratequote" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.estesexpress.com/schema/2017/07/ratequote" xml:lang="en" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">Common elements for rate quote service. Copyright 2014 Estes Express Lines, Inc.</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="AccountType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="7" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AccessorialCodeType">
    <xsd:annotation>
      <xsd:documentation>
				For a full list of accessorial codes and descriptions see:
				http://www.estes-express.com/downloads/WebServiceAccessorialCodes.pdf
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="6" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CityType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CountryCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="2" />
      <xsd:maxLength value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DeclaredValueType">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="9" />
      <xsd:fractionDigits value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DimensionType">
    <xsd:annotation>
      <xsd:documentation>Commodity dimension (inches)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:totalDigits value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DimensionsType">
    <xsd:sequence>
      <xsd:element name="length" type="gsc:DimensionType" />
      <xsd:element name="width" type="gsc:DimensionType" />
      <xsd:element name="height" type="gsc:DimensionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="EquipmentType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FoodWarehouseType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LiabilityType">
    <xsd:annotation>
      <xsd:documentation>S=Standard; D=Declared</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PickupType">
    <xsd:sequence>
      <xsd:element name="date" type="xsd:date" />
      <xsd:element minOccurs="0" name="ready" type="xsd:time" />
      <xsd:element minOccurs="0" name="close" type="xsd:time" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PayorType">
    <xsd:annotation>
      <xsd:documentation>S=Shipper; C=Consignee; T=Third party</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PiecesType">
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:totalDigits value="6" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PointType">
    <xsd:sequence>
      <xsd:element name="countryCode" type="gsc:CountryCodeType" />
      <xsd:element name="postalCode" type="gsc:PostalCodeType" />
      <xsd:element minOccurs="0" name="city" type="gsc:CityType" />
      <xsd:element minOccurs="0" name="stateProvince" type="gsc:StateProvinceType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PostalCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="5" />
      <xsd:maxLength value="6" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RateType">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="9" />
      <xsd:fractionDigits value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RequestIdType">
    <xsd:annotation>
      <xsd:documentation>Unique identifier generated by consumer</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ShipmentTermsType">
    <xsd:annotation>
      <xsd:documentation>PPD=Prepaid; COL=Collect</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StateProvinceType">
    <xsd:annotation>
      <xsd:documentation>State or province abbreviation</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="2" />
      <xsd:maxLength value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="WeightType">
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:totalDigits value="7" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="YesNoBlankType">
    <xsd:annotation>
      <xsd:documentation>(Y)es, (N)o or blank</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Y" />
      <xsd:enumeration value="N" />
      <xsd:enumeration value="" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>